<style>
    body {
        background-color: #000;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        animation: backgroundAnimation 10s ease infinite;
    }

    @keyframes backgroundAnimation {
        0% {
            background-color: #333;
        }

        50% {
            background-color: #222;
        }

        100% {
            background-color: #444;
        }
    }

    .form-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.6);
        border: none;
        box-shadow: none;
        animation: backgroundAnimation 10s ease infinite;
    }

    .form-container h2 {
        text-align: center;
        margin-top: 0;
        font-size: 50px;
        letter-spacing: 2px;
        text-transform: uppercase;
        background: linear-gradient(45deg, #00e5ff, #f500ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 0px 6px #fff;
    }

    .form-container input[type="file"] {
        margin-bottom: 20px;
        text-align: center;
        color: white;
        padding: 10px;
        border-radius: 4px;


        width: 100%;
    }

    .form-container input[type="file"]::file-selector {
        visibility: hidden;
    }

    .form-container button[type="submit"] {
        background: linear-gradient(45deg, #00e5ff, #f500ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 0px 6px #fff;
        color: #fff;
        box-shadow: 0px 0px 8px #00e5ff;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        width: 100%;
        transition: background-color 0.3s ease;
    }

    .form-container button[type="submit"]:hover {
        background-color: #4c4c4c;
    }

    @keyframes rainbow {
        0% {
            background-position: 0% 82%;
        }

        50% {
            background-position: 100% 19%;
        }

        100% {
            background-position: 0% 82%;
        }
    }

    .custom-file-input {
        position: absolute;
        left: -9999px;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        position: relative;
        z-index: 1;
        opacity: 0;
        cursor: pointer;
    }

    .custom-file-label {
        background: linear-gradient(45deg, #00e5ff, #f500ff);
        box-shadow: #f500ff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 0px 6px #fff;
        color: black;
        padding-left: 135px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        width: 100%;
        transition: background-color 0.3s ease;
    }

    /* Hide "No file chosen" text */
    .custom-file-label::after {
        content: none;
    }
</style>


<div class="form-container">
    <h2>Crescendo</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'index' %}">
        {% csrf_token %}
        <label for="file-upload" class="custom-file-label">Choose File</label>
        <input id="file-upload" class="custom-file-input" type="file" name="file" accept="audio/*">
        <br />
        <button type="submit">Upload</button>
    </form>
</div>